html{
  font-size: 85.5%;
}

body{
    margin: 1rem;
    padding: 1rem;
}

.bg_index {
    background-image: url("../img/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgound-size:cover;
    min-height: 130vh;
}

h1,h5{
    color:rgb(255, 255, 255);
    font-weight: 700;
    font-size: 2.2rem;
}

p{
    color: greenyellow;
    font-family: 'Quicksand';
}
.text-white {
    color: white;
}
.offcanvas{
    background:transparent !important;
    }

  
    .modal-backdrop.show {
        opacity: var(--bs-backdrop-opacity);
    }
    .modal-backdrop.fade {
        opacity: 0;
    }
 
        section{
                display: flex;
                justify-content: end;

            img{
                width: 40px;
                max-height: 40px;
               padding-right: 10px;  
               margin-top: 10px;
               margin-right: 10px;
               margin-bottom: 30px;
                
        }
    }
    ul {
        li{
            img{
                width: 40px;
                max-height: 40px;
                margin-left: 33%;
            }
        }
    }
    .div__size{
        height: 280px;
        max-width: 340px;
        display: flex;
        justify-content: end;
        margin-left: 55%;
        margin-top: 10%;
    }
    .blink-2 {
        -webkit-animation: blink-2 1s both;
                animation: blink-2 1s both;
    }

@-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in-bck {
	-webkit-animation: fade-in-bck 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

 animation-iteration-count: infinite;
        }

 @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(100px);
              transform: translateZ(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(200px);
              transform: translateZ(200px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
video{
  max-width: 240px;
  border: solid 2px $third;
  border-radius: 1.3rem;
}
section  p {
  color: $secondary;
}

